<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Number guessing game</title>
    <style>
        html {
            font-family: sans-serif;
        }

        body {
            width: 50%;
            max-width: 800px;
            min-width: 480px;
            margin: 0 auto;
        }

        .lastResult {
            color: white;
            padding: 3px;
        }
    </style>
</head>

<body>
    <h1>
        업로드한 이미지입니다.
    </h1>
    {{file_path}}<br>
    {% if True %}
    <img src="../dog.jpg"><br>
    {% endif %}
    {{alert_text}}<br>
    {{file_data}}
</body>

</html>